<!-- Hero -->
 <section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Glow Puzzle Pro</h1>
        <div class="hero-text-wrapper">
            <p class="glow-text">Glow.</p>
            <p class="connect-text">Connect.</p>
            <p class="solve-text">Solve.</p>
        </div>
        <p class="hero-text">Welcome to <span class="hero-span">Glow Puzzle Pro</span>, the ultimate glowing line-connection puzzle for thinkers and casual gamers alike. With over
        2000 handcrafted levels, intuitive mechanics, and no ads, this is your brain’s new favorite companion</p>
        <div class="hero-wrapper">
            <div class="hero-container">
                <p>No Ads -<br/>  Just pure puzzling</p>
            </div>
            <div class="hero-container">
                <p>2000+ <br /> logic-based levels</p>
            </div>
            <div class="hero-container">
                <p>Offline play <br />      ready anytime</p>
            </div>
        </div>
    </div>
 </section>
 <!-- How to Play -->
  <section class="play-section">
    <div class="container">
        <h2 class="play-title">How to Play</h2>
        <h3 class="play-subtitle">The Logic is Simple. The Execution is Not.</h3>
        <p class="play-text">Connect all the lines using a sequence of dots. The challenge? Each puzzle only has one valid solution. You must plan
        your moves, think ahead, and connect the entire structure without missing a path.</p>
        <div class="play-wrapper">
            <div class="play-container">
                <p>Use dot-to-dot selection or drag-to-connect</p>
            </div>
            <div class="play-container">
                <p>Each puzzle increases in complexity</p>
            </div>
            <div class="play-container">
                <p>Only one path to perfection</p>
            </div>
        </div>
    </div>
  </section>
<!-- Key Features -->
 <section class="features-section">
    <div class="container">
        <h2 class="features-title">Key Features</h2>
        <h3 class="features-subtitle">What Makes Glow Puzzle Pro So Addictive?</h3>
        <div class="swiper features-swiper">
            <div class="swiper-wrapper features-swiper-wrapper">
                <div class="swiper-slide features-swiper-slide">
                   <p class="features-text">Over 2000 <br class="desk"/>
                hand-designed puzzles</p>
                    </div>
                    <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">No advertisements - <br class="desk" /> uninterrupted focus</p>
                 </div>
                <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">In-game Puzzle-o-Meter to <br class="desk" /> track complexity</p>
                </div>
                <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">Two control options: <br class="desk" />            tap or drag</p>
                </div>
                <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">Built-in solution <br class="desk" />      for every puzzle</p>
                </div>
                <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">Regular content updates <br class="desk" />      with new puzzles</p>
                </div>
            </div>
        </div>
        <div class="custom-pagination">
            <div class="pagination-item active"></div>
            <div class="pagination-item"></div>
            <div class="pagination-item"></div>
            <div class="pagination-item"></div>
            <div class="pagination-item"></div>
            <div class="pagination-item"></div>
        </div>
    </div>
 </section>