<!-- Hero -->
 <section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Glow Puzzle Pro</h1>
        <div class="hero-text-wrapper">
            <p class="glow-text">Glow.</p>
            <p class="connect-text">Connect.</p>
            <p class="solve-text">Solve.</p>
        </div>
        <p class="hero-text">Welcome to <span class="hero-span">Glow Puzzle Pro</span>, the ultimate glowing line-connection puzzle for thinkers and casual gamers alike. With over
        2000 handcrafted levels, intuitive mechanics, and no ads, this is your brain’s new favorite companion</p>
        <div class="hero-wrapper">
            <div class="hero-container">
                <p>No Ads -<br/>  Just pure puzzling</p>
            </div>
            <div class="hero-container">
                <p>2000+ <br /> logic-based levels</p>
            </div>
            <div class="hero-container">
                <p>Offline play <br />      ready anytime</p>
            </div>
        </div>
    </div>
 </section>
 <!-- How to Play -->
  <section class="play-section">
    <div class="container">
        <h2 class="play-title">How to Play</h2>
        <h3 class="play-subtitle">The Logic is Simple. The Execution is Not.</h3>
        <p class="play-text">Connect all the lines using a sequence of dots. The challenge? Each puzzle only has one valid solution. You must plan
        your moves, think ahead, and connect the entire structure without missing a path.</p>
        <div class="play-wrapper">
            <div class="play-container">
                <p>Use dot-to-dot selection or drag-to-connect</p>
            </div>
            <div class="play-container">
                <p>Each puzzle increases in complexity</p>
            </div>
            <div class="play-container">
                <p>Only one path to perfection</p>
            </div>
        </div>
    </div>
  </section>
<!-- Key Features -->
 <section class="features-section">
    <div class="container">
        <h2 class="features-title">Key Features</h2>
        <h3 class="features-subtitle">What Makes Glow Puzzle Pro So Addictive?</h3>
        <div class="swiper features-swiper">
            <div class="swiper-wrapper features-swiper-wrapper">
                <div class="swiper-slide features-swiper-slide">
                   <p class="features-text">Over 2000 <br class="desk"/>
                hand-designed puzzles</p>
                    </div>
                    <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">No advertisements - <br class="desk" /> uninterrupted focus</p>
                 </div>
                <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">In-game Puzzle-o-Meter to <br class="desk" /> track complexity</p>
                </div>
                <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">Two control options: <br class="desk" />            tap or drag</p>
                </div>
                <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">Built-in solution <br class="desk" />      for every puzzle</p>
                </div>
                <div class="swiper-slide features-swiper-slide">
                    <p class="features-text">Regular content updates <br class="desk" />      with new puzzles</p>
                </div>
            </div>
        </div>
        <div class="custom-pagination">
            <div class="pagination-item active"></div>
            <div class="pagination-item"></div>
            <div class="pagination-item"></div>
            <div class="pagination-item"></div>
            <div class="pagination-item"></div>
            <div class="pagination-item"></div>
        </div>
    </div>
 </section>
 <!-- Why You'll Love It -->
  <section class="love-section">
    <div class="container">
        <h2 class="love-title">Why You'll Love It</h2>
        <h3 class="love-subtitle">For Brain Builders <br class="mob"/>
        & Zen Seekers</h3>
        <picture>
            <source srcset="
            /img/love/desk.png  1x,
                    /img/love/desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/love/mob.png 1x,
                    /img/love/mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
            <img class="love-img" src="/img/love/mob.png" alt="Glow Puzzle Pro" loading="lazy" />
            </picture>
        <p class="love-text">Glow Puzzle Pro balances logic and relaxation. It’s a mindful experience as much as it is a challenge.
        Perfect for your morning focus session or winding down at night</p>
        <ul class="love-list">
            <li class="love-item love-item-one">Relaxing visuals and sound</li>
            <li class="love-item love-item-two">Develops spatial and logical thinking</li>
            <li class="love-item">Play offline, anywhere</li>
            <li class="love-item love-item-four">Smooth, fluid gameplay mechanics</li>
        </ul>
    </div>
  </section>
  <!-- Puzzle Difficulty Curve -->
<section class="curve-section">
    <div class="container">
        <h2 class="curve-title">Puzzle Difficulty Curve</h2>
        <h3 class="curve-subtitle">From Easy Zen to <br class="mob"/>
        Brain-Bending</h3>
        <div class="curve-img-container">
            <picture>
                <source srcset="
                /img/curve/one-desk.png  1x,
                /img/curve/one-desk@2x.png 2x
                " media="(min-width: 1439px)" />
                <source srcset="
                /img/curve/one-mob.png 1x,
                /img/curve/one-mob@2x.png 2x
                " media="(max-width: 1438px)" />
                <img class="curve-img" src="/img/curve/one-mob.png" alt="Levels 1–500" loading="lazy" />
                </picture>
                <picture>
                    <source srcset="
                                    /img/curve/two-desk.png  1x,
                                    /img/curve/two-desk@2x.png 2x
                                    " media="(min-width: 1439px)" />
                    <source srcset="
                                    /img/curve/two-mob.png 1x,
                                    /img/curve/two-mob@2x.png 2x
                                    " media="(max-width: 1438px)" />
                    <img class="curve-img" src="/img/curve/two-mob.png" alt="Levels 501-1000" loading="lazy" />
                    </picture>
                    <picture>
                        <source srcset="
                                            /img/curve/three-desk.png  1x,
                                            /img/curve/three-desk@2x.png 2x
                                            " media="(min-width: 1439px)" />
                        <source srcset="
                                            /img/curve/three-mob.png 1x,
                                            /img/curve/three-mob@2x.png 2x
                                            " media="(max-width: 1438px)" />
                        <img class="curve-img" src="/img/curve/three-mob.png" alt="Levels 1001-1500" loading="lazy" />
            </picture>
            <picture>
                <source srcset="
                            /img/curve/four-desk.png  1x,
                            /img/curve/four-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
                <source srcset="
                            /img/curve/four-mob.png 1x,
                            /img/curve/four-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                <img class="curve-img" src="/img/curve/four-mob.png" alt="Levels 1501-2000+" loading="lazy" />
            </picture>
        </div>
        <p class="curve-text">Each level comes with its own glow pattern, logical structure, and complexity rating.</p>
    </div>
</section>
<!-- Visual Experience -->
 <section class="visual-section">
    <div class="container">
        <h2 class="visual-title">Visual Experience</h2>
        <h3 class="visual-subtitle">Minimalist Glow. <br class="mob"/>
        Maximum Focus.</h3>
    <ul class="visual-list">
        <li class="visual-item"><p class="visual-item-text up-desk">Elegant neon design with a dark background</p></li>
        <li class="visual-item"><p class="visual-item-text visual-item-text-up" >Visual glow effects help pattern memory</p></li>
        <li class="visual-item"><p class="visual-item-text">Option to mute sound and play in silence or add lo-fi background audio</p></li>
        <li class="visual-item"><p class="visual-item-text visual-item-text-up">Clean UI with smooth transitions</p></li>
    </ul>
    </div>
 </section>
 <!-- Control Modes -->
<section class="modes-section">
    <div class="container">
        <h2 class="modes-title">Control Modes</h2>
        <h3 class="modes-subtitle">Choose Your Puzzle Style</h3>
        <div class="modes-container">
            <picture>
                <source srcset="
                /img/modes/one-desk.png  1x,
                /img/modes/one-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
                <source srcset="
                /img/modes/one-mob.png 1x,
                /img/modes/one-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                <img class="modes-img" src="/img/modes/one-mob.png" alt="Tap Mode" loading="lazy" />
            </picture>
            <picture>
                <source srcset="
                /img/modes/two-desk.png  1x,
                /img/modes/two-desk@2x.png 2x
                            " media="(min-width: 1439px)" />
                <source srcset="
                /img/modes/two-mob.png 1x,
                /img/modes/two-mob@2x.png 2x
                            " media="(max-width: 1438px)" />
                <img class="modes-img modes-img-second" src="/img/modes/two-mob.png" alt="Drag Mode" loading="lazy" />
            </picture>
        </div>
        <p class="modes-text">Both are intuitive and responsive <br class="mob"/>
        on mobile or tablet</p>
    </div>
</section>
<!-- Offline Play -->
<section class="offline-section">
    <div class="container">
        <h2 class="offline-title">Offline Play</h2>
        <h3 class="offline-subtitle">No Wi-Fi? No Problem</h3>
        <p class="offline-text">Glow Puzzle Pro works completely offline. Whether you're in flight mode or deep in the subway, your puzzle progress
        stays with you</p>
        <ul class="offline-list">
            <li class="offline-item">
                <img class="offline-img" src="/img/row.png" alt="Row">
                <p class="offline-item-text">No internet needed</p>
            </li>
            <li class="offline-item">
                <img class="offline-img" src="/img/row.png" alt="Row">
                <p class="offline-item-text">Save your puzzle journey anytime</p>
            </li>
            <li class="offline-item">
                <img class="offline-img" src="/img/row.png" alt="Row">
                <p class="offline-item-text">Automatic local save system</p>
            </li>
        </ul>
    </div>
</section>
<!-- Regular Updates -->
<section class="updates-section">
    <div class="container">
        <h2 class="updates-title">Regular Updates</h2>
        <p class="updates-text">We continuously add new puzzles and optimize gameplay based on user feedback. Your glowing puzzle experience keeps
        getting better</p>
    </div>
</section>
<!-- FAQ -->
<section class="faq-section">
    <div class="container">
<h2 class="faq-title">FAQ</h2>
<h3 class="faq-subtitle">Frequently Asked Questions</h3>
<div class="swiper faq-swiper">
    <div class="swiper-wrapper faq-swiper-wrapper">
        <div class="swiper-slide faq-swiper-slide">
            <ul class="faq-acc">
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            Is Glow Puzzle Pro completely ad-free?
                            <span class="faq-acc-arr arr-down">
                                <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                        fill="#FFF2BD" />
                                </svg>
                                </span>
                        </button>
                    </h3>
                    <p class="faq-acc-el-descr-frame">Yes, this is a premium version with zero ads. You can focus fully on puzzles without distractions or pop-ups. The
                    interface is clean, minimal, and ideal for long puzzle sessions</p>
                   </li>
                <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Does it track my progress?
                        <span class="faq-acc-arr arr-down">
                            <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                    fill="#FFF2BD" />
                            </svg>
                        </span>
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Yes, the app auto-saves your current level, your last completed puzzles, and your progress history. Resume any time
                without losing progress</p>
            </li>
            </ul>
        </div>
        <div class="swiper-slide faq-swiper-slide">
            <ul class="faq-acc">
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            What kind of puzzles are included?
                            <span class="faq-acc-arr arr-down">
                                <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                        fill="#FFF2BD" />
                                </svg>
                                </span>
                        </button>
                    </h3>
                    <p class="faq-acc-el-descr-frame">Each puzzle challenges you to connect a full glowing network using only the dots and paths provided. There is always one
                    correct way to solve each level, increasing in difficulty as you progress</p>
                </li>
                <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Can children play this game?
                        <span class="faq-acc-arr arr-down">
                            <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                    fill="#FFF2BD" />
                            </svg>
                        </span>
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Yes, it’s suitable for all ages. Early levels are easy and great for kids learning logic and pattern recognition. There
                are no ads or in-app distractions, making it a safe option</p>
                </li>
            </ul>
        </div>
        <div class="swiper-slide faq-swiper-slide">
            <ul class="faq-acc">
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            How do the two control modes work?
                            <span class="faq-acc-arr arr-down">
                                <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                        fill="#FFF2BD" />
                                </svg>
                                </span>
                        </button>
                    </h3>
                    <p class="faq-acc-el-descr-frame">Tap Mode allows you to connect two dots with a single tap on each, while Drag Mode lets you swipe between them directly.
                    Both methods are intuitive and you can switch anytime in settings</p>
                </li>
                <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        How often is the game updated?
                        <span class="faq-acc-arr arr-down">
                            <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                    fill="#FFF2BD" />
                            </svg>
                        </span>
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Every few months we roll out new level packs and small UX enhancements. Players are notified in-app when new puzzles are
                available</p>
                </li>
            </ul>
        </div>
        <div class="swiper-slide faq-swiper-slide">
            <ul class="faq-acc">
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            Can I play without an internet connection?
                            <span class="faq-acc-arr arr-down">
                                <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                        fill="#FFF2BD" />
                                </svg>
                                </span>
                        </button>
                    </h3>
                    <p class="faq-acc-el-descr-frame">Absolutely! Glow Puzzle Pro is fully functional offline. All levels and features are available without needing to
                    connect, making it perfect for travel or low-connectivity areas</p>
                </li>
                <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        Is this a one-time purchase or are there in-app buys?
                        <span class="faq-acc-arr arr-down">
                            <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                    fill="#FFF2BD" />
                            </svg>
                        </span>
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Glow Puzzle Pro is a one-time purchase. There are no microtransactions or hidden costs. You get access to the full game
                and all updates</p>
                </li>
            </ul>
        </div>
        <div class="swiper-slide faq-swiper-slide">
            <ul class="faq-acc">
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            How many levels are there?
                            <span class="faq-acc-arr arr-down">
                                <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                        fill="#FFF2BD" />
                                </svg>
                                </span>
                        </button>
                    </h3>
                    <p class="faq-acc-el-descr-frame">Currently, over 2000 levels are included, from beginner to extremely advanced. New level packs are added regularly
                    through updates</p>
                </li>
                <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
                        What platforms is it available on?
                        <span class="faq-acc-arr arr-down">
      <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                        fill="#FFF2BD" />
                                </svg>
                        </span>
                    </button>
                </h3>
                <p class="faq-acc-el-descr-frame">Currently, it’s optimized for Android phones and tablets. A desktop version is planned in the near future</p>
                </li>
            </ul>
        </div>
        <div class="swiper-slide faq-swiper-slide">
            <ul class="faq-acc">
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            What if I get stuck on a level?
                            <span class="faq-acc-arr arr-down">
                                <svg class="faq-img " width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.276 10.7599L4.656 21.9059C4.47871 22.0919 4.37981 22.339 4.37981 22.5959C4.37981 22.8528 4.47871 23.0999 4.656 23.2859L4.668 23.2979C4.75394 23.3884 4.8574 23.4604 4.97206 23.5096C5.08673 23.5589 5.21021 23.5843 5.335 23.5843C5.45978 23.5843 5.58327 23.5589 5.69793 23.5096C5.8126 23.4604 5.91605 23.3884 6.002 23.2979L16.002 12.8019L25.998 23.2979C26.0839 23.3884 26.1874 23.4604 26.3021 23.5096C26.4167 23.5589 26.5402 23.5843 26.665 23.5843C26.7898 23.5843 26.9133 23.5589 27.0279 23.5096C27.1426 23.4604 27.246 23.3884 27.332 23.2979L27.344 23.2859C27.5213 23.0999 27.6202 22.8528 27.6202 22.5959C27.6202 22.339 27.5213 22.0919 27.344 21.9059L16.724 10.7599C16.6306 10.6619 16.5183 10.5838 16.3938 10.5305C16.2694 10.4772 16.1354 10.4497 16 10.4497C15.8646 10.4497 15.7306 10.4772 15.6062 10.5305C15.4817 10.5838 15.3694 10.6619 15.276 10.7599Z"
                                        fill="#FFF2BD" />
                                </svg>
                                </span>
                        </button>
                    </h3>
                    <p class="faq-acc-el-descr-frame">You can access the solution to every level directly from the interface. The built-in “Hint” button shows the full path
                    when you need a gentle nudge or a complete answer</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="custom-pagination faq-custom-pagination">
    <div class="faq-pagination-item active"></div>
    <div class="faq-pagination-item"></div>
    <div class="faq-pagination-item"></div>
    <div class="faq-pagination-item"></div>
    <div class="faq-pagination-item"></div>
    <div class="faq-pagination-item"></div>
</div>
    </div>
</section>