<!-- Hero -->
 <section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Glow Puzzle Pro</h1>
        <div class="hero-text-wrapper">
            <p class="glow-text">Glow.</p>
            <p class="connect-text">Connect.</p>
            <p class="solve-text">Solve.</p>
        </div>
        <p class="hero-text">Welcome to <span class="hero-span">Glow Puzzle Pro</span>, the ultimate glowing line-connection puzzle for thinkers and casual gamers alike. With over
        2000 handcrafted levels, intuitive mechanics, and no ads, this is your brain’s new favorite companion</p>
        <div class="hero-wrapper">
            <div class="hero-container">
                <p>No Ads -<br/>  Just pure puzzling</p>
            </div>
            <div class="hero-container">
                <p>2000+ <br /> logic-based levels</p>
            </div>
            <div class="hero-container">
                <p>Offline play <br />      ready anytime</p>
            </div>
        </div>
    </div>
 </section>